{% extends 'base.html.twig' %}

{% block title %}Keisti varžybų laiką{% endblock %}

{% block breadcrumb %}
  <div class="container mt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/user-dashboard">Vartotojo veiksmai</a></li>
        <li class="breadcrumb-item"><a href="/tournaments/{{ tournament.id }}">{{ tournament.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Keisti varžybų laiką</li>
      </ol>
    </nav>
  </div>
{% endblock %}

{% block body %}
  <h2 class="h2 text-center text-color-main">Keisti varžybų laiką</h2>
  <div class="text-center col-md-6 offset-md-3">
    {{ form_start(form) }}
      {{ form_errors(form) }}
      <div class="form-group">
        <label class="text-light">Laikas</label>
        {{ form_errors(form.date) }}
        {{ form_widget(form.date) }}
      </div>
      {{ form_widget(form._token) }}
      {{ form_widget(form.submit) }}
    {{ form_end(form) }}
  </div>
{% endblock %}