{% extends 'base.html.twig' %}

{% block title %}Registracija į turnyrą{% endblock %}

{% block breadcrumb %}
  <div class="container mt-2">
    {% if isManagerOfThisTournament %}
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/user-dashboard">Vartotojo veiksmai</a></li>
          <li class="breadcrumb-item"><a href="/tournaments/{{ tournament.id }}">{{ tournament.name }}</a></li>
          <li class="breadcrumb-item active" aria-current="page">Registruoti komandą į turnyrą</li>
        </ol>
      </nav>
    {% else %}
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/tournaments">Turnyrai</a></li>
          <li class="breadcrumb-item"><a href="/tournaments/{{ tournament.id }}">{{ tournament.name }}</a></li>
          <li class="breadcrumb-item active" aria-current="page">Registruoti komandą į turnyrą</li>
        </ol>
      </nav>
    {% endif %}
  </div>
{% endblock %}

{% block body %}
  <h2 class="h2 text-center text-color-main">Registruoti į {{ tournament.name }}</h2>
  <div class="text-center col-md-6 offset-md-3">
    {{ form_start(form) }}
      {{ form_errors(form) }}
      <div class="form-group">
        <label class="text-light">Kurią komandą registruoti?</label>
        {{ form_errors(form.team) }}
        {{ form_widget(form.team) }}
      </div>
      {{ form_widget(form._token) }}
      {{ form_widget(form.submit) }}
    {{ form_end(form) }}
  </div>
{% endblock %}